* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:'Roboto', sans-serif;
}

.container_one {
    background-color: #1F2937;
    color: #F9FAF8;
    padding-top: 12px;
}    

.object_one {
    display: flex;
    flex-direction: row;
    color:#F9FAF8;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}    

.main_logo{
    font-size: 24px;
}
.section {
   display: flex;
   font-size: 12px;
   align-items: center;
   gap: 18px;
}

.container_two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px 0;
    gap: 40px;
    max-width: 1100px;
    margin: 0 auto;
    text-wrap: pretty;
}

.object_two {
    padding: 32px 0;
    flex: 1;
    padding: 32px 0;
    
}

.hero_primary {
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
    margin: 0 0 16px 0;
    
}

.hero_secondary {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0 0 20px 0;
    
}

.mountain {
    height: 250px;
    width: 600px;
    border-radius: 8px;
    
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 44px;
    font-size: 18px;
    font-weight: bold;
}

.container_three {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    max-width: 1100px;
    margin: 0 auto;
}

.info_head {
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
}

.illustration {
    display: flex;
    flex-direction: row;
    padding: 24px;
    margin: 0 20px;
    gap: 12px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 18px;
    padding: 24px;
    margin: 0 90px;
    gap: 24px;
    text-align: center;
    text-wrap: pretty;
}

.container_four {
    background-color: #E5E7EB;
    padding: 80px
    
    
}

.quote {
    font-size: 36px;
    Color: #1F2937;
    font-weight: 300;
    font-style: italic;
    max-width: 900px;
    margin: 0 auto;
    text-wrap: pretty;
}

.author {
    max-width: 700px;
    margin: 0 auto;
    text-align: right;
    font-size: 22px;
    font-weight: bold;
}

.container_five {
    background-color: #3882F6;
    max-width: 900px;
    margin: 56px auto;
    border-radius: 12px;
    padding: 24px;
}
